__final as (
    select *
    from {{ parent_cdc }}
    {% if filter %}
        where
            true
            -- operation current added by filter
            and __operation <> 'current'
    {% endif %}
)
