__final as (
    select {% for output in outputs %} `{{ output }}`, {% endfor %},
    from {{ parent_cdc }}
    {% if filter %}
        where
            true
            -- operation current added by filter
            and __operation <> 'current'
    {% endif %}
)
