{% include 'ctes/base.sql.jinja' %}
{% if slice == "update" %} {% include 'filters/update.sql.jinja' %} {% endif %}
{% if slice == "latest" %} {% include 'filters/latest.sql.jinja' %} {% endif %}
{% include 'filters/final.sql.jinja' %}
