{% include 'query/base.sql.jinja' %}
{% if slice == "update" %} {% include 'filter/update.sql.jinja' %} {% endif %}
{% if slice == "latest" %} {% include 'filter/latest.sql.jinja' %} {% endif %}
{% include 'filter/final.sql.jinja' %}
