{% include 'queries/context.sql.jinja' %}
{% include 'ctes/base.sql.jinja' %}
{% if slice %} {% include 'ctes/slice.sql.jinja' %} {% endif %}
{% if deduplicate_key %} {% include 'ctes/deduplicate_key.sql.jinja' %} {% endif %}
{% if mode == "update" %} {% if has_rows %} {% include 'ctes/current.sql.jinja' %} {% endif %} {% endif %}
{% if rectify %} {% include 'ctes/rectify.sql.jinja' %} {% endif %}
{% if deduplicate_hash %} {% include 'ctes/deduplicate_hash.sql.jinja' %} {% endif %}
{% if cdc == "nocdc" %}
    {% if mode == "update" %} {% include 'queries/nocdc/update.sql.jinja' %}
    {% else %} {% include 'queries/nocdc/complete.sql.jinja' %}
    {% endif %}
{% endif %}
{% if cdc == "scd1" %} {% include 'queries/scd1.sql.jinja' %} {% endif %}
{% if cdc == "scd2" %} {% include 'queries/scd2.sql.jinja' %} {% endif %}
{% include 'queries/final.sql.jinja' %}
