 {% if filter %}
    select
        array_join(collect_list(`filters`), ' or ') as `slices` 
        null as sources
    from 
    __final
{% endif %}
{if filter and has_source}
    union all
{% endif %}
{% if has_source %}
    select
        null as slices
        array_join(collect_list(`sources`), ' or ') as `output` 
    from 
    __source
{% endif %}
